/* ==================== ##General Styles ==================== */

body {
	font-family: $content_font_family;
	font-size: $content_font_size;
	line-height: $content_line_height;
	font-weight: $content_font_weight;
	color: $content_color;
}

/* ==================== ##End General Styles ==================== */

/* ==================== ##Content Features ==================== */

body input:not([type='checkbox']):not([type='submit']),
select, textarea,
label,
blockquote cite,
#comments .commentlist .comment_info .meta-wrapper *,
.author-info_name,
.meta-wrapper,
.blog-post_info-wrap > .meta-wrapper *,
.thegov_module_time_line_vertical .time_line-title,
.isotope-filter a .number_filter,
.author-widget_text,
.wgl-portfolio-item-info_desc span,
.blog-post.format-quote .blog-post_quote-author,
.wgl_module_team .team-department,
body .comment-form-cookies-consent > label,
body .widget_product_categories .post_count, 
body .widget_meta .post_count, 
body .widget_archive .post_count,
.wgl-accordion .wgl-accordion_panel .wgl-accordion_content,
.elementor-widget-wgl-pricing-table .pricing_header .pricing_desc,
.elementor-widget-wgl-time-line-vertical .time_line-content .time_line-text,
.wgl-portfolio-single_wrapper .wgl-portfolio-item_cats,
.wgl-working-hours .working-item .working-item_day,
.wgl-working-hours .working-item .working-item_hours,
.wgl-testimonials.type-inline_top .wgl-testimonials_quote {
	font-family: $content_font_family;
}
.elementor-widget-wgl-time-line-vertical .time_line-content .time_line-text{
	font-weight: $content_font_weight;
}

.wgl-tabs .wgl-tabs_content-wrap .wgl-tabs_content{
	font-family: $content_font_family;
	font-weight: $content_font_weight;
}

select,
body .footer .select__field:before,
body input:not([type='checkbox']):not([type='submit'])::placeholder,
select::placeholder,
textarea::placeholder,
.header_search.search_standard .header_search-field .search-field::placeholder,
.header_search.search_standard .header_search-field .search-field,
.tagcloud a,
body .widget_rss ul li .rssSummary,
.search-no-results .page_404_wrapper .search-form .search-field::placeholder,
.search-no-results .page_404_wrapper .search-form .search-field,
.blog-post_meta-categories span,
.blog-post_meta-categories span:after,
.thegov_module_message_box .message_content .message_text,
.vc_wp_custommenu .menu .menu-item.current-menu-item > a,
.blog-post.format-quote .blog-post_quote-author-pos,
.thegov_module_testimonials .testimonials_quote,
.recent-posts-widget .meta-wrapper a:hover,
.vc_row .vc_toggle .vc_toggle_icon,
.isotope-filter a,
.wgl_module_team .team-department,
.blog-style-hero .blog-post.format-standard .meta-wrapper, 
.blog-style-hero .blog-post.format-link .meta-wrapper, 
.blog-style-hero .blog-post.format-audio .meta-wrapper, 
.blog-style-hero .blog-post.format-quote .meta-wrapper,
.blog-style-hero .blog-post.format-standard .meta-wrapper a, 
.blog-style-hero .blog-post.format-link .meta-wrapper a, 
.blog-style-hero .blog-post.format-audio .meta-wrapper a, 
.blog-style-hero .blog-post.format-quote .meta-wrapper a,
.blog-style-hero .blog-post.format-standard .blog-post_text, 
.blog-style-hero .blog-post.format-link .blog-post_text, 
.blog-style-hero .blog-post.format-audio .blog-post_text, 
.blog-style-hero .blog-post.format-quote .blog-post_text,
.wgl-pricing_plan .pricing_price_wrap .pricing_desc {
	color: $content_color;
}

.single_meta .single_info-share_social-wpapper > span.share_title,
.single_info-share_social-wpapper > span{
	font-family: $content_font_family;		
	color: $content_color;
}

.thegov_module_title .external_link .button-read-more {
	line-height: $content_line_height;
}

/* ==================== ##End Content Features ==================== */

/* ==================== ##Heading Features ==================== */

h1,h2,h3,h4,h5,h6,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.blog-post_cats,
.blog-posts .blog-post_title,
.column1 .item_title a,
.thegov_twitter .twitt_title,
.tagcloud-wrapper .title_tags,
.strip_template .strip-item a span,
.single_team_page .team-single_speaches-info .speech-info_desc span,
.shortcode_tab_item_title,
.index_number,
.primary-nav.footer-menu .menu-item a,
.thegov_module_message_box.type_info .message_icon:before {
	font-family: $header_font_family;
	font-weight: $header_font_weight;
}

.dropcap, 
.elementor-drop-cap,
.dropcap-bg,
.elementor-drop-cap,
.banner_404,
#comments .comment-reply-link,
input[type="submit"], button,
body .widget,
body .widget .widget-title,
body .widget_rss ul li .rss-date,
body .widget_categories a, 
body .widget_product_categories a, 
body .widget_meta a, 
body .widget_archive a,
legend,
.page_404_wrapper .thegov_404_button.wgl_button .wgl_button_link,
.wgl-social-share_pages.hovered_style .share_social-title,
.blog-post_text-bg,
.author-info_content .author-info_name,
.button-read-more,
.blog-post_meta-date .date_post span,
.blog-post_meta-date .date_post,
.theme-header-font,
.countdown-section .countdown-amount,
.comments-title .number-comments,
.thegov_module_progress_bar .progress_label,
.thegov_module_double_headings,
.thegov_module_infobox .infobox_icon_container .infobox_icon_number,
.wgl-button, .elementor-button,
.wgl-pricing_plan .pricing_cur,
.wgl-pricing_plan .pricing_price .price_decimal,
.thegov_module_testimonials .testimonials_item:before,
.thegov_module_testimonials .testimonials_status,
.thegov_module_counter .counter_title,
.thegov_module_videobox .title,
.thegov_module_progress_bar .progress_value, 
.thegov_module_progress_bar .progress_units,
.thegov_module_counter .counter_value_wrapper, 
.thegov_module_counter .counter_value_placeholder,
.wgl-pricing_plan .pricing_plan_wrap .pricing_price_wrap,
.thegov_module_ico_progress .progress_value_completed,
.thegov_module_ico_progress .progress_value_min,
.thegov_module_ico_progress .progress_value_max,
.thegov_module_ico_progress .progress_point,
.mashsb-count .counts,
.mashsb-box .mashsb-buttons a .text,
.prev-link,
.next-link,
.vc_row .vc_tta.vc_general.vc_tta-style-accordion_bordered .vc_tta-panel-title>a span,
.widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title,
.heading_subtitle,
.info_prev-link_wrapper a,
.info_next-link_wrapper a,
.single_team_page .team-single_speaches-info .speech-info_day,
.single_team_page .team-info_wrapper .team-info_item,
.single_team_page .team-info_wrapper .team-info_item h5,
.wgl-portfolio-item-info_desc h5,
.wgl-portfolio-item_meta .post_cats,
.wgl-portfolio-item_meta .post_cats,
.wgl-portfolio-item_cats,
.isotope-filter a,
body .comment-respond .comment-reply-title,
.page-header_title,
.thegov_module_services_2 .services_link,
.thegov_module_testimonials.type_inline_top .testimonials_meta_wrap:after,
.thegov_module_testimonials .testimonials_position,
.thegov_module_services_4 .services_subtitle,
.dropcap,
.dropcap-bg,
.wgl-countdown .countdown-section .countdown-period,
.wgl-testimonials .wgl-testimonials_quote,
ul.wp-block-archives.wp-block-archives-list li a,
ul.wp-block-categories.wp-block-categories-list li a,
ul.wp-block-categories.wp-block-categories-list li .post_count,
ul.wp-block-latest-posts li a,
.elementor-counter,
.wgl-counter .wgl-counter_value-wrap,
.wgl-double_heading .dbl-subtitle,
.load_more_item,
.load_more_wrapper .load_more_item,
.thegov-post-navigation .meta-wrapper span,
body .widget_wgl_posts .recent-posts-widget .meta-wrapper span,
.elementor-widget .wgl-infobox .wgl-infobox_subtitle,
.single_meta .meta-wrapper,
.wgl-testimonials .wgl-testimonials_position,
.events-post_meta-categories a{
	font-family: $header_font_family;
}

.wgl-infobox_bg_title,
.wgl-background-text,
.elementor-section.wgl-add-background-text:before{
	font-family: $header_font_family;
	font-weight: $header_font_weight;
}
#comments .commentlist .comment_author_says{
	font-family: $header_font_family;
}

.banner_404,
input[type="submit"],
.author-info_public,
.wgl-portfolio-item_annotation_social .single_info-share_social-wpapper > span,
.thegov_module_time_line_horizontal .tlh_date,
.wgl-portfolio-single_item .tagcloud .tagcloud_desc,
.wgl_timetabs .timetabs_data .timetabs_item .item_time,
.wgl_timetabs .timetabs_data .timetabs_item .content-wrapper .item_title,
.wgl_timetabs .timetabs_headings .wgl_tab,
.wgl-pricing_plan .pricing_content,
blockquote,
.wgl-portfolio-single_item .single_info-share_social-wpapper .share_title{
	font-family: $header_font_family;
	color: $header_font_color;
}

body .footer select option,
body .widget_wgl_posts .recent-posts-widget .post_title a,
button,
h1,h2,h3,h4,h5,h6,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.blog-style-hero .blog-post_title a,
h3#reply-title a,
.calendar_wrap tbody,
.comment_author_says,
.comment_author_says a,
.wgl-pagination .page-numbers,
.wgl-pagination .page-numbers:hover i,
.share_post-container .share_post,
.tagcloud-wrapper .title_tags,
.theme-header-color,
.thegov_module_double_headings .heading_title,
.thegov_module_testimonials .testimonials_item .testimonials_content_wrap .testimonials_name,
.wgl-pricing_plan .pricing_plan_wrap .pricing_content > ul > li > b,
.thegov_module_social .soc_icon,
.thegov_module_counter .counter_value_wrapper,
.thegov_module_message_box .message_close_button:hover,
.prev-link-info_wrapper,
.next-link-info_wrapper,
.item_title a,
.thegov_module_counter .counter_value_wrapper,
.wgl_module_title.item_title .carousel_arrows a span:after,
.wgl_module_team.info_under_image .team-department,
.wgl-portfolio-item_wrapper .portfolio_link,
.inside_image.sub_layer_animation .wgl-portfolio-item_title .title,
.widget_product_search .woocommerce-product-search:after,
.under_image .wgl-portfolio-item_title .title a,
.tagcloud a,
body .widget_categories ul li a,
body .widget_product_categories ul li a, 
body .widget_meta ul li a, 
body .widget_archive ul li a,
body .widget_comments > ul > li:before, 
body .widget_meta > ul > li:before, 
body .widget_archive > ul > li:before, 
body .widget_recent_comments > ul > li:before, 
body .widget_recent_entries > ul > li:before,
body .widget .widget-title .widget-title_wrapper,
body .widget ul li,
.widget.widget_recent_comments ul li a,
.thegov_module_services_2 .services_link,
ul.wp-block-archives.wp-block-archives-list li a,
ul.wp-block-archives.wp-block-archives-list li:before,
ul.wp-block-categories.wp-block-categories-list li a,
ul.wp-block-latest-posts li a,
.wgl-pricing_plan .pricing_plan_wrap .pricing_price_wrap,
.blog-style-hero .blog-post.format-standard .blog-post_title a, 
.blog-style-hero .blog-post.format-link .blog-post_title a, 
.blog-style-hero .blog-post.format-audio .blog-post_title a, 
.blog-style-hero .blog-post.format-quote .blog-post_title a,
.wgl-button.elementor-button,
.wgl-carousel .slick-arrow,
.meta-wrapper span + span:before,
.meta-wrapper .author_post a,
#comments .comment-reply-link:hover,
.author-widget_social a,
.page_404_wrapper .search-form:after,
body .widget_search .search-form:after, 
body .widget_search .woocommerce-product-search:after, 
body .widget_product_search .search-form:after, 
body .widget_product_search .woocommerce-product-search:after,
.widget.thegov_widget.thegov_banner-widget .banner-widget_button,
.wgl-portfolio-single_wrapper .wgl-portfolio-item_meta > span:after,
.button-read-more:hover,
.wpcf7 .choose-2 .wpcf7-submit,
#event-form label,
.coming-soon_form .wpcf7 .wpcf7-submit:hover{
	color: $header_font_color;
}

.header_search.search_standard .header_search-field .search-form:after,
.header_search-button-wrapper{
	color: $header_font_color;
}

.wgl-theme-header .wgl-button.elementor-button:hover,
.thegov_module_title .carousel_arrows a span,
.blog-post .blog-post_meta-categories span a:hover,
.page_404_wrapper .search-form:hover:after,
body .widget_search .search-form:hover:after, 
body .widget_search .woocommerce-product-search:hover:after, 
body .widget_product_search .search-form:hover:after, 
body .widget_product_search .woocommerce-product-search:hover:after,
.widget.thegov_widget.thegov_banner-widget .banner-widget_button:hover,
.load_more_wrapper .load_more_item:hover,
.wgl-accordion-services .wgl-services_icon-wrap:before {
	background: $header_font_color;
}

#comments .form-submit input[type="submit"]:hover,
.page_404_wrapper .thegov_404_button.wgl_button .wgl_button_link:hover,
.wpcf7 .wpcf7-submit:hover{
	background: $header_font_color;
	border-color: $header_font_color;
}

.slick-dots li button,
.wgl-carousel.pagination_line .slick-dots li button:before,
.wgl-carousel.pagination_square .slick-dots li,
.wgl-carousel.pagination_circle_border .slick-dots li button:before,
.wgl-carousel.pagination_square_border .slick-dots li button:before,
.thegov_module_infobox.infobox_alignment_left.title_divider .infobox_title:before,
.thegov_module_infobox.infobox_alignment_right.title_divider .infobox_title:before {
	background-color: $header_font_color;
}

.thegov_module_title .carousel_arrows a span:before,
.wgl-pricing_plan .pricing_highlighter,
.wgl-carousel.pagination_circle_border .slick-dots li.slick-active button,
.wgl-carousel.pagination_square_border .slick-dots li.slick-active button{
	border-color: $header_font_color;
}

/* ==================== ##End Heading Features ==================== */

/* ==================== ##Additional Styles ==================== */

.wgl-theme-header .wgl-sticky-header .header_search{
	height: $header_sticky_height !important;
}    

#scroll_up {
	background-color: $scroll_up_bg_color;
	color: $scroll_up_arrow_color;
}

/* menu fonts */
.primary-nav>div>ul,
.primary-nav>ul,
.sitepress_container > .wpml-ls li,
.primary-nav ul li.mega-menu-links > ul > li{
	font-family: $menu_font_family;
	font-weight: $menu_font_weight;
	line-height: $menu_font_line_height;
	font-size: $menu_font_size;
}
/* sub menu fonts */
.primary-nav ul li ul,
.wpml-ls,
.sitepress_container > .wpml-ls ul ul li,
.primary-nav ul li div.mega-menu-container{
	font-family: $sub_menu_font_family;
	font-weight: $sub_menu_font_weight;
	line-height: $sub_menu_font_line_height;
	font-size: $sub_menu_font_size;	
}

/* sub menu styles */
.wgl-theme-header .header_search-field,
.primary-nav ul li ul,
.primary-nav ul li div.mega-menu-container,
.wgl-theme-header .woo_mini_cart,
.wpml-ls-legacy-dropdown .wpml-ls-current-language .wpml-ls-sub-menu{
	background-color: $sub_menu_bg;
	color: $sub_menu_color;
}

.mobile_nav_wrapper,
.wgl-menu_outer,
.wgl-menu_outer .mobile-hamburger-close,
.mobile_nav_wrapper .primary-nav ul li ul.sub-menu,
.mobile_nav_wrapper .primary-nav ul li.mega-menu-links > ul.mega-menu > li > ul > li ul,
.mobile_nav_wrapper .primary-nav ul li.mega-menu-links > ul.mega-menu > li > ul{
	background-color: $mobile_sub_menu_bg;
	color: $mobile_sub_menu_color;		
}

.mobile_nav_wrapper .wgl-menu_overlay{
	background-color: $mobile_sub_menu_overlay;
}

/* ==================== ##End Additional Styles ==================== */

#side-panel .side-panel_sidebar .widget .widget-title .widget-title_wrapper{
	color: $side_panel_title;
}